<div class="header-image">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>



</div>


<div class="parallax_section parallax_image">
  <div class="center">
    <img class="text-logo">  </img>

    </div>
  </div>



  <!-- <div class="content_block">

<div class="center">

<div class="about">




</div>
</div>
</div> -->






<body class="parallax_section parallax_image_3">
  <div class="center">

    <p class="t">  Gotta pack? We got your back!</p><br>
      <div class="sign-up-home-page"> 1) Sign up </div> <br>
      <p class="animated infinite swing"><img class="cursor"></img><p>
      <div class="upload-your-wardrobe"> 2) Upload your wardrobe </div><br>
      <p class="animated  infinite shake"><img class="camera"></img><p>
      <div class="plan-your-suitcase"> 3)Plan your suitcase </div><br>
      <p class="animated infinite pulse"><img class="dress"></img><p>
      <div class="ready"> 4)You are ready to go </div><br>
      <p class="animated infinite bounce"><img class="animation"></img><p>

    </div>
  </body>
