<div class="header-image">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>



</div>


<div class="parallax_section parallax_image">
  <div class="center">
    <img class="text-logo">  </img>

    </div>
  </div>



  <div class="content_block">

<div class="center">

<div class="about">

<h2></h2>
<p class="t">  Gotta pack? We got your back!</p>
<p class="animated infinite bounce"><img class="animation"></img><p>


</div>

<!-- <div class="parallax_section parallax_image_2">
  <div class="center">
    </div>
  </div> -->
