<div class="header-image">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>



</div>


<div class="parallax_section parallax_image">
  <div class="center">
    <img class="text-logo">  </img>

    </div>
  </div>



  <div class="content_block">

<div class="center">

<div class="about">

  <p class="t">  Gotta pack? We got your back!</p><br>

  <p class="animated infinite bounce"><img class="animation"></img><p>




</div>
</div>
</div>






<body class="parallax_section parallax_image_3">

  <div class="center">

      <!-- <div class="sign-up-home-page"> 1) Sign up  <br></div> -->
       <div><p class="animated infinite "><img class="sign-up-image"></img><p> </div>
      <!-- <div class="upload-your-wardrobe"> 2) Upload your wardrobe <br></div> -->
      <div><p class="animated  infinite "><img class="uploading"></img><p></div>
      <!-- <div class="plan-your-suitcase"> 3)Plan your suitcase <br></div> -->
      <div><p class="animated infinite "><img class="suitcase-image-home"></img><p></div>
      <!-- <div class="ready"> 4)You are ready to go <br> -->
      <div class="ready-to-go"><img class="ready-to-go"></img></div>

    </div>
  </body>
