<div class="header-image">

  <head>
    <!--  getting the animation CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
<!-- created a div for the entire home page -->
  <div class="home-page">

  <!--  here there are boxes and ids were assigned to data photo so i can use it for javascript -->

    <div id="box1" class="box" data-photo="#photo1">Sign up</div>
    <div id="box2" class="box" data-photo="#photo2">Pack up</div>
    <div id="box3" class="box" data-photo="#photo3">Ready to go!</div>

<!-- here there are the ids for the actual pictures! added a class for each photo and a class for all of them -->

    <div id="photo1" class="photo">

      <img class="text-logo">  </img>


    </div>

    <div id="photo2" class="photo"></div>



    <div id="photo3" class="photo">
  <!--  animation when you are ready to go!-->
      <p class="animated infinite bounce"><img class="animation"></img><p>
    </div>



  </div>
</div>
