
    <h1><%= @user.name %></h1>

    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
</div>


<div class="info">
  <h4>
    E-mail: <%= @user.email %><br />
    <%= image_tag @user.image.url %>

  </h4>
</div>
