/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *:before,
 *:after {
   box-sizing: border-box;
 }

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  cursor:pointer;
  cursor:hand;
}


#container {
  height: 100%;
}

 .menu-bar{
   padding: 10px;
   background-color: oldlace;
   overflow: hidden;
   height: 50px;
   position: relative;
 }

 #logo img{
   height: 100px;
   width: auto;
   position: relative;
   line-height: 10px;
   bottom:30px;
 }

 .userinfo{
   display: inline-block;
   padding: 0;
   margin: auto;
   float:right;
   letter-spacing: 2px;
   text-align: center;
   position: relative;
 }

 #welcome-message {
   line-height: 30px;
   font-family: 'Open Sans', sans-serif;
 }

 .footer .right {
   margin-top: 200px;
   text-align: center;
 }

 .text-logo {
   content:url('logopackapp.png');
   margin-left:400px;
   margin-top:200px;

 }

 .animation {
   content:url('packapp2.png');
   height:15%;
   width:15%;

 }

.sign-up-home-page {
  font-family: 'Open Sans', sans-serif;
  font-size:40px;
  text-align:center;
  color: darkgray;
}


.upload-your-wardrobe {
  font-family: 'Open Sans', sans-serif;
  font-size:40px;
  text-align:center
}

.plan-your-suitcase {
  font-family: 'Open Sans', sans-serif;
  font-size:40px;
  text-align:center;
}

.ready {
  font-family: 'Open Sans', sans-serif;
  font-size:40px;
  text-align: center;
}

.t {
  font-size:40px;
  text-align:center;

}

.dress {
  content:url('dress.png');
  /*margin-left:400px;*/
  width:20%;
  height:20%;
  /*margin-top:-5000px*/

}

.cursor {
  content:url('cursor.png');
  height:20%;
  width:20%;
  /*margin-left:350px;*/
  /*margin-top:-100px;*/
}

.camera {
  content:url('camera.png');
  height:20%;
  width:20%;
  /*margin-top:-75px;*/
  /*margin-left:500px;*/
}

.parallax_image_3 {
background-image: url('https://www.quercusliving.co.uk/media/catalog/product/cache/1/image/2500x1103/9df78eab33525d08d6e5fb8d27136e95/r/u/rustic-oak-wood-grain_28.jpg');
}

.arrow-left{

}

.arrow-right {
  color:oldlace;
}
