// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-details img {
  height: 200px;
  width: auto;
}

.item-details {
  list-style-type: none;
  text-align: center;
}

h1 {
  text-align: center;
}

.add-new-item {
  text-align: center;
}

ul {
  padding-left: 0;
}

.category-dropdown {
  display: none;
}

.item-selected {
  border: 10px solid lightgreen;
}
