// Place all the styles related to the suitcases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#suitcase-show-body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.suitcase-details {
  list-style-type: none;
  text-align: center;
}

.suitcase-destination {
  margin-bottom: 0;
}

.suitcase-title {
  margin-top: 0;
}

h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p, li, a {
  font-family: 'Open Sans', sans-serif;
}

.links {
  text-align: left;
  position: absolute;
  top: 0;
  left: 10px;
}

.suitcase-list {
  text-align: left;
}

.suitcase {
  text-align: center;
  padding-left: 0;
}

.edit-form {
  text-align: center;
}

#suitcase-main {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f79279;
  transition: margin-left .5s;
  padding: 0px;
  left: 0px;
}

#suitcase-side-nav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-box-shadow: 7px 5px 7px -2px #ff9999;
}

#open-nav {
  display: block;
  text-align: center;
  margin-top: 200px;
}

#close-nav {
  position: relative;
  top: 0;
  text-align: right;
  font-size: 20px;
  width: 20%;
  display: inline-block;
}

.clothes-container {
  height: 175px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}

.shoes-container {
  height: 100px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}

#shoes {
  height: 100px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}


.clothes-container p {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.clothes-container img {
  height: 150px;
  width: auto;
  display: block;
  margin: auto;
}

.shoes-container img {
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
}

.clothes-images {
  display: inline;
  position: relative;
  // overflow: hidden;
}

.clothes-items {
  display: inline;
  position: relative;
}

h4 {
  text-align: center;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

.inner {
  width: 40%;
  margin: 0;
  float: left;
}

.arrow-left {
  cursor:pointer;
	cursor:hand;
  display: inline-block;
  width: 20%;
  float: left;
  text-align: right;
  font-size: 40px;
  line-height: 120px;
  font-family: 'Sigmar One', cursive;
}

.arrow-right {
  cursor:pointer;
	cursor:hand;
  display: inline-block;
  width: 20%;
  text-align: left;
  float: right;
  font-size: 40px;
  line-height: 120px;
  font-family: 'Sigmar One', cursive;
}

.inactive {
  // display: none;
  width: 0;
}

.active {
  height: 150px;
  width: auto;
  margin: auto;
  transition: 0.5s;
}

.bottoms-item {
  width: 33%;
}

.draggable {
  display: inline-block;
  width: 60%;
}

.slick-arrow {
  display: none;
}

.slick-next:before {
  display: none;
}

.side-nav-buttons {
  padding-top: 10px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#other-items {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: left;
  padding-left: 15px;
}

#view-all {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: right;
}

#add-items {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: left;
}

#outfit-checker-button {
  display: none;
  position: relative;
  width: 27%;
  text-align: left;
}

// styling for "add more items" in the suitcase show side nav

#items-grid-container img {
  width: 100px;
  height: auto;
  margin: auto;
  display: block;
}

.style-one {
  display: inline-block;
  width: 25%;
  margin: 40px 0;
}

#view-all-in-suitcase-container {
  display: none;
  width: 100%;
  margin: 40px 0;
}

#view-all-in-suitcase-container img {
  width: 100px;
  height: auto;
  margin: 20px;
  display: inline-block;
}


// .data-item {
//   width:50%;
// }
.weather {
  display: inline;
}
.weather-details {
  display: inline;
}
