// Place all the styles related to the suitcases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#suitcase-show-body {
  position: relative;
  overflow: hidden;
}

.suitcase-details {
  list-style-type: none;
  text-align: center;
}

h1 {
  text-align: center;
}

.links {
  text-align: center;
}

.suitcase-list {
  text-align: center;
}

.suitcase {
  text-align: center;
  padding-left: 0;
}

.edit-form {
  text-align: center;
}

#suitcase-main {
  position: relative;
  overflow: hidden;
  background-image: url("http://www.walldevil.com/wallpapers/a40/vector-wallpapers-postcard-beach-media.jpg");
  height: 570px;
  transition: margin-left .5s;
  padding: 16px;
  left:0px;
}

#suitcase-side-nav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}


#close-nav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.clothes-container {
  height: 100px;
}
