// Place all the styles related to the suitcases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#suitcase-show-body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.suitcase-details {
  list-style-type: none;
  text-align: center;
  padding-right: 20px;
}

.suitcase-destination {
  margin-bottom: 0;

    &.small {
      font-size: 20px;
      padding-bottom: 60px;
      padding-right: 20px;
    }
}

.suitcase-title {
  margin-top: 0;
  padding-right: 20px;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p, li, a {
  font-family: 'Open Sans', sans-serif;
}

.links {
  text-align: left;
  position: absolute;
  top: 0;
  left: 10px;
  color: grey;
}

.links a {
  color: black;
  text-decoration: none;
}

.links a:hover {
  color: #ef766a;
}


.suitcase-list {
  text-align: left;
}

.suitcase {
  text-align: center;
  padding-left: 0;
}

.edit-form {
  text-align: center;
}

#suitcase-main {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #e7c6ba;
  background-size: 100%;
  transition: margin-left .5s;
  padding: 0px;
  left: 0px;
}

#sortable1 {
  background-image: url('suitcase1.png');
  background-size: 400px;
  background-repeat: no-repeat;
  height: 300px;
  background-position-x: 50%;
  border: none;

    &.is-open {
      background-image: url("suitcase2.png");
      background-size: 600px;
      height: 350px;
    }
  }

#sortable1 img {
  display: none;
}

#suitcase-side-nav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-box-shadow: 2px 3px 15px -4px black;

  &.is-dragging {
    overflow: visible;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: rgba(0,0,0,0.5);
    }
  }

}

#item-added-message {
  display: block;
  width: 100%;
  margin: auto;
  font-size: 25px;
  text-align: center;
  color: white;
  position: absolute;
  font-family: 'Satisfy', cursive;

}

#item-added-message p {
  text-align: center;
}

#open-nav {
  display: block;
  text-align: center;
}

#open-nav a:hover {
  color: #ef766a;
}

#close-nav {
  position: relative;
  top: 0;
  text-align: right;
  font-size: 20px;
  display: inline-block;
  float: right;
}

.main-buttons a:hover {
  color: #ef766a;
}

.clothes-container {
  height: 175px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}

.shoes-container {
  height: 100px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}

#shoes {
  height: 100px;
  width: 100%;
  // overflow: hidden;
  transition: margin-left .5s;
}

// other items

#dresses {
  display: none;
  height: 200px;
  width: auto;
  transition: margin-left .5s;
  margin-bottom: 50px;
}

#dresses img {
  height: 200px;
  width: auto;
}

.clothes-container p {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.clothes-container img {
  height: 150px;
  width: auto;
  display: block;
  margin: auto;
}

.shoes-container img {
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
}

.clothes-images {
  display: inline;
  position: relative;
  // overflow: hidden;
}

.clothes-items {
  display: inline;
  position: relative;
}

h4 {
  text-align: center;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

.inner {
  width: 40%;
  margin: 0;
  float: left;
}

.arrow-left {
  cursor:pointer;
	cursor:hand;
  display: inline-block;
  width: 20%;
  float: left;
  text-align: right;
  font-size: 40px;
  line-height: 120px;
  font-family: 'Sigmar One', cursive;
}

.arrow-right {
  cursor:pointer;
	cursor:hand;
  display: inline-block;
  width: 20%;
  text-align: left;
  float: right;
  font-size: 40px;
  line-height: 120px;
  font-family: 'Sigmar One', cursive;
}


.inactive {
  // display: none;
  width: 0;
}

.active {
  height: 150px;
  width: auto;
  margin: auto;
  transition: 0.5s;
}

.bottoms-item {
  width: 33%;
}

.draggable {
  display: inline-block;
  width: 60%;
}

// .connectedSortable > ul {
//   background-color: none !important;
//   border: none !important;
// }

.slick-arrow {
  display: none;
}

.slick-next:before {
  display: none;
}

.side-nav-buttons {
  height: 55px;
  position: relative;
  padding-top: 10px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#view-all {
  position: relative;
  display: inline-block;
  text-align: right;
}

#add-items {
  position: relative;
  display: inline-block;
  text-align: left;
}

#outfit-checker-button {
  display: none;
  position: relative;
  width: 27%;
  text-align: left;
}


.dress-button a:hover {
  color: #ef766a;
}

.tops-bottoms a:hover {
  color: #ef766a;
}


#items-grid-container img {
  width: 100px;
  height: auto;
  margin: auto;
  display: block;
}

.style-one {
  display: inline-block;
  width: 25%;
  margin: 40px 0;
}

#view-all-in-suitcase-container {
  display: none;
  width: 100%;
  margin: 40px 10px;
}

#view-all-in-suitcase-container img {
  width: 100px;
  height: auto;
  margin: 20px;
  display: inline-block;
}


.clothes-types {
  margin-left: 10px;
  width: 30%;
  display: inline-block;
  position: relative;
}

.clothes-types a {
  display: block;
}

.main-buttons {
  width: 60%;
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 15px;
}
