// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-image {
  height: 500px;
  background-image: url('packapp.png'), no-repeat;
  width:100%;
  text-align: center;
  padding-top: 3px;
  // padding-top: 15px;
  position: absolute;
  filter: brightness(98%);
  -webkit-filter: brightness(98%);
  -moz-filter: brightness(98%);
  -ms-filter: brightness(98%);
}


.profile {
  text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.8);
}


#imageUploadForm {
  height:25%;
  width:25%;
}

.mywardrobe {
  font-family: 'Satisfy', cursive;

}

.mysuitcase {
  font-family: 'Satisfy', cursive;

}


#create-wardrobe, #wardrobe_name, #suitcase_name, #suitcase_duration, #suitcase_destination, #suitcase_description, #create-suitcase {
  font-family: 'Satisfy', cursive;
  width: 300px;
  height:50px;
  font-size:30px;
  text-align: center;

}

#create-wardrobe, #create-suitcase {
  border: 2px solid oldlace;
  font-size:20px;
}


.w {
  float:left;
  margin-left:200px;
}

ul, li {
  list-style-type: none;

}

.s {
  float:right;
  margin-right:200px;

}

 #website {
   top:1400px;
   left:500px;
   position:absolute;
 }


 .parallax_section{
   height: 600px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: 100% auto;
     position:relative;
     scroll-behavior: smooth;

 }

 .parallax_image{
  // background-image: url("http://i.huffpost.com/gen/1808722/images/o-PACKING-BAG-facebook.jpg");
  background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('http://i.huffpost.com/gen/1808722/images/o-PACKING-BAG-facebook.jpg') no-repeat center;

 }


.parallax_image_2{
  background-image: url("http://i.huffpost.com/gen/1808722/images/o-PACKING-BAG-facebook.jpg");
}


.about {
  height:500px;
  font-family: 'Satisfy', cursive;
  text-align:center;

}
