// Place all the styles related to the wardrobes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-details img {
  height: 200px;
  width: auto;
}

.item-details {
  list-style-type: none;
  text-align: center;
}

.add-item {
  text-align: center;
}


.back-button {
  text-align: center;
}


.new-item {
  width: 100%;

}

.edit-delete {
  text-align: center;
}

.filtered-tops {
  display: none;
}

.filtered-bottoms {
  display: none;
}

.filtered-shoes {
  display: none;
}

#search, #search-button {
  float: right;
}


.filter-nav{
  text-align: center;
}

.filter-header{
  text-align: center;
}
