.weather .slick-slide {
  width: 150px;
}

.weather .arrow-left {
  width: 13%;
}

.weather .arrow-right {
  width: 10%;
}

.weather .draggable {
  width: 150px;
  text-align: center;
  background-color: cyan;
}

.weather-date {
  text-align: center;
}

.weather-date img {
  margin: auto;
}

.weather {
  bottom: 200px;
  float: right;
  margin: 20px;
}
