.weather .slick-slide {
  width: 150px;
}

.weather .arrow-left {
  width: 44%;
}

.weather .arrow-right {
  width: 44%;
}

.weather .draggable {
  width: 150px;
  text-align: center;
  background-color: cyan;
}

.weather-date {
  text-align: center;
}

.weather-date img {
  margin: auto;
}
