<body class="edit">
  <div id="search-form">


<h1 id="searching">Search Results</h1>

<div id="search-items"><%= render 'wardrobes/items' %></div>


<p class="back-button"><%= link_to "Back", wardrobe_path(current_user) %></p>
</div>
</body>
