<h1>Suitcases</h1>

<p>
  <% @suitcases.each do |suitcase| %>
    <ul>
      <li><%= link_to suitcase.name, suitcase %></li>
      <li><%= suitcase.description %></li>
      <li>Duration: <%= suitcase.duration %> days</li>
      <li>Destination: <%= suitcase.destination %></li>
    </ul>
  <% end %>
</p>
