<h1>Welcome to your wardrobe</h1>
<% if @wardrobes.empty? %>
<h3>You don't have a wardrobe right now</h3>
<%= link_to "Click here to create one", new_wardrobe_path %>
<% else %>
<% @wardrobes.each do |wardrobe| %>
<%= wardrobe.name %>
<%= wardrobe.items.name %>
<% end %>
<% end %>
