<h1>Welcome to your wardrobe</h1>
<% if @wardrobes.empty? %>
<h3>You don't have a wardrobe right now</h3>
<%= link_to "Click here to create one", new_wardrobe_path %>
<% else %>
<p><%= link_to "Add another wardrobe", new_wardrobe_path %></p>
<% @wardrobes.each do |wardrobe| %>
<p><%= link_to wardrobe.name, wardrobe %></p>
<p><%= link_to wardrobe.items.name %></p>
<% end %>
<% end %>
