// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-details img {
   height: 200px;
  width: auto;
 }

.item-details {
  list-style-type: none;
  text-align: center;
}

h1 {
  text-align: center;
}

.add-new-item {
  text-align: center;
}

ul {
  padding-left: 0;
}

.check-box {
  //display: none;
}
.category-dropdown, .suitcase-dropdown {
  display: none;
}

.item-selected {
  border: 5px solid lightblue;
}


.item-page {
background-color: white;
}

.suitcase-dropdown select{
  width: 20%;
}

#item-added-suitcase {
  display: block;
  width: 100%;
  margin: auto;
  font-size: 25px;
  text-align: center;
  color: black;
  position: absolute;
  font-family: 'Satisfy', cursive;

}
