.user-show {
  // background-color: #ff8265;
}

// .user-show {
//   background-color: white;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//
// }


.top-of-page {
  background-image: url('stamp.png');
  background-size: 320px 240px;
  background-repeat-y: no-repeat;

}

.profile {
  height: 220px;
  background-color: #ff8265;
}

.info {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  float: left;
  top: 70px;
  margin-left: 10%;
}

.info img {
  position: relative;
  height: 100%;
  width: auto;
  margin: 0, auto;
}

#greeting {
  color: white;
  float: left;
  margin-top: 150px;
  margin-left: 20px;
}

#myedit {
  float: right;
  margin: 20px;
  // border-radius: 1px;
  // font-size: 15px !important;
  // padding: 5px 8px;
  // cursor: pointer;
  // color: #fff;
  // background-color: lightblue !important;
  // font-family: 'Open Sans', sans-serif;
  // border: 0.2px solid #fff !important;
  // box-shadow: 2px 2px 5px #AFE9FF;
  // transition-duration: 0.5s;
}
