// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  .log-in-form, #user-form{
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    margin-top: 8%;
    margin-bottom: 70px;
    width: 300px;
    padding: 50px 30px;
    background-color:oldlace;
    opacity: 0.8;

  }

  .log-in, .sign-up{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://static.pexels.com/photos/6675/flight-mountains-sky-flying-large.jpeg');

}

.arrow {
  content:url('arrow.png');
  margin-left:500px;
  margin-top:-300px;
}


.field input{
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.field {
  text-align:center;
}


.header{
  font-size: 30px;
  color:gray;
  text-align: center;
  padding-bottom: 10px;
}


.actions {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#user_image {
  font-family: 'Open Sans', sans-serif;

}

.field input {
  font-family: 'Open Sans', sans-serif;

}



.sign-up-form {
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  background-color:oldlace;
  opacity: 0.8;

}

.sign-up{
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}


.submitting {
  border-radius: 1px;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  color: #fff;
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;

}

.submitting:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}


input {
  border-radius: 1px;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  color: #006398;
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
}

input:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}


#user_image {
opacity:0;
position:absolute;
margin-left:-150px;
}


.fakefield, .add-item {
  position:relative;
  border-radius: 1px;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  color: #fff;
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  width:250px;
  margin-left:28px;

}



.fakefield:hover, .add-item:hover, #drop-down-show:hover, .back-button:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

#drop-down-show {
  position:relative;
  border-radius: 1px;
  font-size: 15px;
  padding: 5px 8px;
  cursor: pointer;
  color: #fff;

  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #fff;

  transition-duration: 0.5s;

  margin-left:28px;


}
