.weather {
  display: inline;
}
.weather-details {
  display: inline;
}

.weather .slick-slide {
  width: 150px;
}

.weather .arrow-left {
  width: 15%;
}

.weather .arrow-right {
  width: 7%;
}

.arrow-left.white {
  color: oldlace;
}

.arrow-right.white {
  color: oldlace;
}

.weather .draggable {
  width: 150px;
  text-align: center;
  background-color: peachpuff;
  border-radius: 25px;
  padding: 18px 0px;
  font-family: 'Open Sans', 'sans-serif';
  margin: 5px;
}

.weather-date {
  text-align: center;
}

.weather-date img {
  margin: auto;
}

.weather {
  bottom: 200px;
  float: right;
  margin-right: 20px;
}
